<section>
  <ul class="nav nav-tabs">
		<li *ngFor="let item of arrayTabs; let i = index;"
		    [class.active]="i === idSelect"
		    (click)="chandeTad(i)">
		  <a>{{item}}</a>
		</li>
    <li>
      <button type="button" class="btn btn-success" type="submit" routerLink="/login">Log out</button>
    </li>
	</ul>
  <div [ngSwitch]="idSelect">
    <div *ngSwitchCase="0">
      <app-user-info></app-user-info>
    </div>
    <div *ngSwitchCase="1">
      <app-registration-form></app-registration-form>
    </div>
    <div *ngSwitchDefault>
      <app-user-info></app-user-info>
    </div>
  </div>
</section>