<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" #formDir="ngForm" class="form">
  <div class="form__field">
    <label>
      Name*:
      <input type="text" formControlName="name" placeholder="Baton Batonov" #name>
    </label>
    <div class="form__check" 
    *ngIf="registrationForm.get('name').pending">
        Validating...
    </div>
    <div class="form__error"
    *ngIf="registrationForm.get('name').errors &&
          registrationForm.get('name').dirty &&
          registrationForm.get('name').errors?.validName">
      There must be one or two english words with a large first letter!
    </div>
  </div>

  <div class="form__field">
    <label>
      Age:
      <input type="text" formControlName="age" placeholder="[18-65]" #age>
    </label>
    <div class="form__error"
    *ngIf="registrationForm.get('age').errors &&
          registrationForm.get('age').dirty &&
          registrationForm.get('age').errors?.validAge">
      The range of numbers must be from 18 till 65!
    </div>
  </div>

  <div class="form__field">
    <label>
      Birthday:
      <input type="text" formControlName="birthday" placeholder="YYYY/MM/DD" #birthday>
    </label>
    <div class="form__error"
    *ngIf="registrationForm.get('birthday').errors &&
          registrationForm.get('birthday').dirty &&
          registrationForm.get('birthday').errors?.validDateSlash">
      Date format must be (YYYY/MM/DD)!
    </div>
  </div>

  <div class="form__field">
    <label>
      Date of login:
      <input type="text" formControlName="dateOfLogin" placeholder="DD MMMM YYYY" #dateOfLogin>
    </label>
    <div class="form__error"
    *ngIf="registrationForm.get('dateOfLogin').errors &&
          registrationForm.get('dateOfLogin').dirty &&
          registrationForm.get('dateOfLogin').errors?.validDateSpace">
      Date format must be (DD MMMM YYYY)!
    </div>
  </div>  

  <div class="form__field">
    <label>
      Date of notification:
      <input type="text" formControlName="dateOfNotification" placeholder="DD-MMM-YY" #dateOfNotification>
    </label>
    <div class="form__error"
    *ngIf="registrationForm.get('dateOfNotification').errors &&
          registrationForm.get('dateOfNotification').dirty &&
          registrationForm.get('dateOfNotification').errors?.validDateDash">
      Date format must be (DD-MMM-YY)!
    </div>
  </div>  

  <div class="button_div">
    <button type="submit" [disabled]="registrationForm.invalid" 
      (click)="update(name.value, age.value, birthday.value, dateOfLogin.value, dateOfNotification.value)">Submit</button>
    <button type="button" (click)="formDir.resetForm({})">Reset</button>
  </div>
</form>

<div *ngIf="show">
  Name: {{submitName}}<br>
  Age: {{submitAge}}<br>
  Birthday: {{submitBirthday}}<br>
  Date of login: {{submitDateOfLogin}}<br>
  Date of notification: {{submitDateOfNotification}}
</div>