<form [formGroup]="loginForm" #formDir="ngForm" class="form login-form">
  <div class="form__field">
    <label>
      Name*:
      <input type="text" formControlName="name" placeholder="Baton Batonov" #name>
    </label>
    <div class="form__check" 
    *ngIf="loginForm.get('name').pending">
        Validating...
    </div>
    <div class="form__error"
    *ngIf="loginForm.get('name').errors &&
          loginForm.get('name').dirty &&
          loginForm.get('name').errors?.validName">
      There must be one or two english words with a large first letter!
    </div>
  </div>

  <div class="form__field">
    <label>
      Password*:
      <input type="text" formControlName="password" placeholder="password" #password>
    </label>
    <div class="form__error"
    *ngIf="loginForm.get('password').errors &&
          loginForm.get('password').dirty &&
          loginForm.get('password').errors?.validPassword">
      The length must be at least four characters without spaces.
    </div>
  </div> 

  <div class="button_div">
    <button type="submit" (click)="login(loginForm.get('name').value, loginForm.get('password').value)"
    [disabled]="loginForm.invalid">Log in</button>
    <button type="button" (click)="formDir.resetForm({})">Reset</button><br>
    <!--<button type="button" routerLink="/restore">Forgot password?</button>-->
    <a routerLink="/restore" routerLinkActive="active">Forgot password?</a>
  </div>
</form>

<!--<div *ngFor="let user of users | async">
  <p><b>{{user.name}}</b></p>
</div>-->
