<div>
  <div>
    <span>{{'Name' | translate}}:</span>
    <span>{{user?.name}}</span>
  </div>
  <div>
      <span>{{'Age' | translate}}:</span>
      <span>{{user?.age}}</span>
  </div>
  <div>
      <span>{{'Birthday' | translate}}:</span>
      <span>{{user?.dateOfBirth | date:'shortDate'}}</span>
  </div>
  <div>
      <span>{{'Date of login' | translate}}:</span>
      <span>{{user?.dateOfFirstLogin | date:'shortDate'}}</span>
  </div>
  <div>
      <span>{{'Date of notification' | translate}}:</span>
      <span>{{user?.dateOfNextNotification | date:'shortDate'}}</span>
  </div>
  <div>
    <span>{{'Full information' | translate}}:</span>
    <span>{{user?.information}}</span>
  </div>
</div>
