<section>
  <ul class="nav nav-tabs">
		<li *ngFor="let item of arrayTabs; let i = index;"
		    [class.active]="i === idSelect"
		    (click)="chandeTad(i)">
		  <a>{{item | translate}}</a>
		</li>
    <div class="form-group">
      <select class="form-control" matNativeControl (change)="switchLanguage($event)">
        <option value="en">{{'English' | translate}}</option>
        <option value="ru">{{'Russian' | translate}}</option>
      </select>
    </div>
	</ul>
  <div [ngSwitch]="idSelect">
    <div *ngSwitchCase="0">
      <app-login-form></app-login-form>
    </div>
    <div *ngSwitchCase="1">
      <h2><span class="label label-primary">{{'Author: Irina Tkachenko' | translate}}</span></h2>
      <h3><span class="label label-info">{{'It was a great practice' | translate}}</span></h3>        
    </div>
    <div *ngSwitchDefault>
      <app-login-form></app-login-form>
    </div>
  </div>
</section>
