.wrap.well {
  width: 300px;
  margin: 2px;
  padding: 2px;
}

.glyph.well {
  width: 60px;
  text-align: center;
  margin: 2px;
  padding: 13px;
}

.rotation {
  transform: rotate(180deg);
}

.well {
  display: inline-block;
	width: 200px;
  margin: 2px;
}

.longText {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}