<div class="wrap well">
  <div class="well">
    <div>
      <span>{{'Name' | translate}}:</span>
      <span>{{user?.name}}</span>
    </div>
    <div>
        <span>{{'Age' | translate}}:</span>
        <span>{{user?.age}}</span>
    </div>
    <div>
      <span>{{'Birthday' | translate}}:</span>
      <span>{{user?.dateOfBirth | date:'shortDate'}}</span>
    </div>
    <div>
      <span>{{'Information' | translate}}:</span>
      <span class="longText">{{user?.information}}</span>
    </div>
  </div>
  <div class="glyph well" [class.rotation]="rotate" (click)="addUserList()">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </div>
</div>