<div class="user-info">
  <ul class="list-group">
    <li class="list-group-item">{{'Name' | translate}}: {{user.name}}</li>
    <li class="list-group-item">{{'Age' | translate}}: {{user.age}}</li>
    <li class="list-group-item">{{'Birthday' | translate}}: {{user.dateOfBirth | date:'shortDate'}}</li>
    <li class="list-group-item">{{'Date of login' | translate}}: {{user.dateOfFirstLogin | date:'shortDate'}}</li>
    <li class="list-group-item">{{'Date of notification' | translate}}: {{user.dateOfNextNotification | date:'shortDate'}}</li>
    <li class="list-group-item">{{'Information' | translate}}: {{user.information}}</li>
  </ul>
</div>
